@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-pencil, .icon-image, .icon-camera, .icon-camera-2, .icon-connection, .icon-file, .icon-copy, .icon-envelop, .icon-cloud, .icon-monitor, .icon-mobile, .icon-wrench, .icon-twitter, .icon-switch, .icon-grid, .icon-list, .icon-paragraph-right, .icon-paragraph-justify, .icon-paragraph-center, .icon-paragraph-left, .icon-google-drive, .icon-facebook, .icon-facebook-2, .icon-twitter-2, .icon-twitter-3, .icon-feed, .icon-feed-2, .icon-google-plus, .icon-tumblr, .icon-tumblr-2, .icon-play, .icon-pause, .icon-stop, .icon-backward, .icon-forward, .icon-first, .icon-last, .icon-previous, .icon-next, .icon-keyboard, .icon-opera, .icon-IE, .icon-chrome, .icon-firefox, .icon-skype, .icon-apple, .icon-android, .icon-windows8, .icon-windows, .icon-html5, .icon-html5-2, .icon-plus, .icon-minus, .icon-camera-3, .icon-comment, .icon-zoom-in, .icon-zoom-out, .icon-search {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-pencil:before {
	content: "\e001";
}
.icon-image:before {
	content: "\e002";
}
.icon-camera:before {
	content: "\e003";
}
.icon-camera-2:before {
	content: "\e004";
}
.icon-connection:before {
	content: "\e005";
}
.icon-file:before {
	content: "\e006";
}
.icon-copy:before {
	content: "\e007";
}
.icon-envelop:before {
	content: "\e008";
}
.icon-cloud:before {
	content: "\e009";
}
.icon-monitor:before {
	content: "\e00a";
}
.icon-mobile:before {
	content: "\e00b";
}
.icon-wrench:before {
	content: "\e00c";
}
.icon-twitter:before {
	content: "\e00d";
}
.icon-switch:before {
	content: "\e00e";
}
.icon-grid:before {
	content: "\e00f";
}
.icon-list:before {
	content: "\e010";
}
.icon-paragraph-right:before {
	content: "\e011";
}
.icon-paragraph-justify:before {
	content: "\e012";
}
.icon-paragraph-center:before {
	content: "\e013";
}
.icon-paragraph-left:before {
	content: "\e014";
}
.icon-google-drive:before {
	content: "\e015";
}
.icon-facebook:before {
	content: "\e016";
}
.icon-facebook-2:before {
	content: "\e017";
}
.icon-twitter-2:before {
	content: "\e018";
}
.icon-twitter-3:before {
	content: "\e019";
}
.icon-feed:before {
	content: "\e01b";
}
.icon-feed-2:before {
	content: "\e01c";
}
.icon-google-plus:before {
	content: "\e01a";
}
.icon-tumblr:before {
	content: "\e01d";
}
.icon-tumblr-2:before {
	content: "\e01e";
}
.icon-play:before {
	content: "\e01f";
}
.icon-pause:before {
	content: "\e020";
}
.icon-stop:before {
	content: "\e021";
}
.icon-backward:before {
	content: "\e022";
}
.icon-forward:before {
	content: "\e023";
}
.icon-first:before {
	content: "\e024";
}
.icon-last:before {
	content: "\e025";
}
.icon-previous:before {
	content: "\e026";
}
.icon-next:before {
	content: "\e027";
}
.icon-keyboard:before {
	content: "\e028";
}
.icon-opera:before {
	content: "\e029";
}
.icon-IE:before {
	content: "\e02a";
}
.icon-chrome:before {
	content: "\e02b";
}
.icon-firefox:before {
	content: "\e02c";
}
.icon-skype:before {
	content: "\e02d";
}
.icon-apple:before {
	content: "\e02e";
}
.icon-android:before {
	content: "\e02f";
}
.icon-windows8:before {
	content: "\e030";
}
.icon-windows:before {
	content: "\e031";
}
.icon-html5:before {
	content: "\e032";
}
.icon-html5-2:before {
	content: "\e033";
}
.icon-plus:before {
	content: "\e034";
}
.icon-minus:before {
	content: "\e035";
}
.icon-camera-3:before {
	content: "\e036";
}
.icon-comment:before {
	content: "\e037";
}
.icon-zoom-in:before {
	content: "\e038";
}
.icon-zoom-out:before {
	content: "\e039";
}
.icon-search:before {
	content: "\e03a";
}
